.timeline-section{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
}

#timeline-grid:hover{
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.timeline-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}

#for-you{
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 100px;
  padding-right: 100px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  margin-bottom: 16px;
 
}

#for-you:hover{
  color: #000;
  background-color: rgb(235, 235, 235);
}

#following{
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 150px;
  padding-right: 150px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
}

#following:hover{
  color: #000;
  background-color: rgb(235, 235, 235);
}

.timeline-settings{
  height: 20px;
  margin-right: 30px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.timeline-settings:hover{
  background-color: rgb(235, 235, 235);
}

.post-container{
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.post-bar{
  width: 100%;
  border: none;
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
}

input:focus{
  outline: none;
}

input:focus::placeholder{
  color: transparent;
}

.post-bar::placeholder{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.timeline-profile-picture{
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.post-option-container{
  margin-left: 60px;
  display: flex;
  align-items: center;
}

.post-icon{
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.15s;
}

.post-icon:hover{
  background-color: rgb(237, 247, 253);
}

.timeline-post-button{
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #26a7de;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.follower-container{
  margin-left: 20px;
  display: flex;
  align-items: center;
;
}

.follower-info{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 5px;
}

#follower-name{
  font-weight: bold;
  margin-bottom: 0;
}

#follower-user-name{
  color: #555;
  margin-top: 0;
}

.trend-more{
  height: 24px;
  margin-left: auto;
}

.follower-post{
  margin-top: 0;
  margin-bottom: 10px;
}

.user-upload{
  width: 500px;
  margin-left: 65px;
  border-radius: 25px;
}

.user-options-container{
  width: 490px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 65px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.user-post-option{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #555;
}

.other-post-option{
  display: flex;
  align-items: center;
}

.more-options-icon{
  height: 20px;
  margin-right: 5px;
}

#share{
  margin-right: 0;
}

#bookmark{
  margin-right: 15px;
}

.post-icon-container, .user-post-option, .bookmark-container, .share-container{
  position: relative;
  display: flex;
  justify-content: center;
}

.post-icon-container .tooltip, .user-post-option .tooltip, .bookmark-container .tooltip, .share-container .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  font-size: 12px;
  padding: 3px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
  z-index: 200;
  bottom: -25px;
}

.post-icon-container:hover .tooltip, .user-post-option:hover .tooltip, .bookmark-container:hover .tooltip, .share-container:hover .tooltip{
  opacity: 1;
}